.content {
  text-align: center;
}

.top_container {
  margin-bottom: -90px;
}

.backgroundImg {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  z-index: -1;
}

.top_left {
  background-color: #efd9d1;
  width: 40%;
  padding: 25% 19% 0 28%;
  border-radius: 10px 0 0 0;
  box-shadow: 0px 0px 5px lightgrey;
}

.top_right {
  background-color: #f4eeed;
  width: 40%;
  padding: 25% 28% 0 19%;
  border-radius: 0 10px 0 0;
  box-shadow: 0px 0px 5px lightgrey;
}

.profileItem {
  position: relative;
  bottom: 100px;
  text-align: center;
}

.profilePic {
  width: 120px;
  border-radius: 60px;
}

.profileFooter {
  background-color: #f9f7f7;
  width: 94%;
  margin: 0 auto;
  z-index: -1;
  position: relative;
  bottom: 20px;
  border-radius:0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.profileFooter img {
  width: 35px;
}

.profileFooter .socIcons {
  display: flex;
  padding: 30px;
  margin-bottom: 0;
}

.socIcons li {
  margin-right: 15px;
}

.socIcons img {
  border-radius: 5px;
}

.profileFooter .profileName {
  font-size: 1.1rem;
  font-weight: bold;
  align-self: center;
  margin-right: 50px;
  margin-top: 20px;
}

.postsCount {
  display: flex;
  padding: 25px 30px 5px 20px;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.postsCount li {
  margin-right: 25px;
}

.postsCount p {
  margin-bottom: 5px;
}

.countsNames {
  font-weight: bold;
}

/*---------------------------------------Middle container---------------------------------------------*/

.middle_container {
  margin: 0 3% 0 3%;
  box-shadow: 0px 0px 5px lightgrey;
}

.middle_container ul {
  display: flex;
  justify-content: space-around;
  background-color: #f9f7f7;
  padding: 0;
  border-radius: 10px;
  align-items: center;
}

.middle_container .about {
  background-color: #e6ecf5;
  margin: 0;
  padding: 3% 10% 3% 10%;
  border-radius: 10px;
}

.middle_container .timeline {
  margin: 0;
  padding: 3% 10% 3% 10%;
}

.middle_container .friends {
  margin: 0;
  padding: 3% 10% 3% 10%;
}

.middle_container .photos {
  margin: 0;
  padding: 3% 10% 3% 10%;
}

/*---------------------------------------Bottom container-------------------------------------------*/

.bottom_container {
  margin: 0 3% 0 3%;
  box-shadow: 0px 0px 5px lightgrey;
  background-color: #f9f7f7;
  border-radius: 10px;
}

.bottom_container {
  display: flex;
}

.navbar_bottom {
  display: flex;
  flex-direction: column;
  padding: 4%;
  text-align: left;
  color: #3f72af;
  font-size: 0.95rem;
}

.navbar_bottom a {
  margin-bottom: 20px;
}

.content_bottom {
  padding-top: 30px;
  text-align: left;
  width: 50%;
}

.content_bottom h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.content_bottom hr {
  width: 95%;
  color: #bfbfbf  ;
}

.content_content {
  display: flex;
  font-size: 0.9rem;
}

.left_content {
  font-weight: bold;
  width: 45%;
}

.right_content {
  right: 50px;
}