.nav {
  grid-area: s;
  border-radius: 5px;
  margin-right: 10%;
}

.nav div {
  margin-bottom: 4%;
  padding: 8%;
  border-radius: 5px;
}

.item a {
  text-decoration: none;
  color: #000;
}
.item a:hover {
  opacity: .3;
  transition: .2s;
}
