.news {
  display: flex;
}

.postsItem {
  flex-basis: 70%;
}

.newPost {
  display: flex;
  align-items:center;
  margin-bottom: 3%;
}

.newPost p {
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  padding: 2% 5%;
  font-size: 0.8rem;
  opacity: .5;
  margin: 0 5% 0 0;
  flex-basis: 50%;
}

.button button {
  background-color: #3f72af;
  border-style: none;
  padding: 30% 70%;
  border-radius: 20px;
}

.newsRightBar {
}
