.dialogs {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-radius: 30px;
  margin-bottom: 1%;
}

.searchBar p {
  padding-left: 5%;
  margin: 1.5%;
  opacity: .5;
  align-items: center;
}

.searchBar img {
  width: 35px;
  padding: 20%;
  margin-right: 5px;
}

.messages {
  border-style: groove;
  height: 500px;
  border-radius: 30px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.Message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Message p {
  background-color: #dbe2ef;
  padding: 10%;
  border-radius: 20px;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Message img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: thin;
  margin-bottom: 10px;
}

.formNewMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.formNewMessage p {
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  padding: 3% 10%;
  font-size: 0.8rem;
  opacity: .5;
  margin-right: 5%;
  flex-basis: 60%;
}

.formNewMessage button {
  background-color: #3f72af;
  border-style: none;
  padding: 2% 3%;
  border-radius: 20px;
}

.dialogsItems h3 {
  text-align: center;
}

hr {
  width: 80%;
}


.users p {
  text-align: center;
  margin: 1% 10% 1% 10%;
  padding: 4% 5%;
  background-color: #dbe2ef;
  border-radius: 30px;
}

.users a {
  text-decoration: none;
  color: #000;
}
.users a:hover {
  opacity: .3;
  transition: .2s;
}
